html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.column {
float: left;
width: 20%;
margin-bottom: 5px;
margin-left: 5px;
padding: 1px 9px;

}

@media screen and (max-width: 650px) {
.column {
  width: 100%;
  display: block;
}
}

.card {
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);

}

.container {
padding: 0px 16px;
}

.container::after, .row::after {
content: "";
clear: both;
display: table;
}

.title {
color: grey;
}



.navbar-brand { background: yellow !important; color: black !important; }
.alink{ background-color: Gainsboro !important;  text-align: center !important; height: 150px; padding-top: 50px;}
.button1 {
background-color: LightGray !important;
color: black !important;
padding: 0.5px 0.5px !important;
}
.avatar {

width: 24.5% !important;
height: 450px !important;
border-radius: 5% !important;
}

.img{height: 300px;
width:100%;

}


.pic {
background-color: #eee;
width: 75%;
height: 390px;
border: 1px dotted black;
padding-left: 110px;
overflow-x: hidden;
overflow-y: scroll;
margin-left: 110px;
}
div.sticky {
position: -webkit-sticky;
position: sticky;
top: 0;

background-color: #cae8ca;
border: 2px solid #4CAF50;
    margin-right: 110px;
    padding: 5px;
}




.footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: red;
 color: white;

height : 25px;
}

.pica{background-color: #eee;
width: 90%;
height: auto;
border: 1px dotted black;
overflow: hidden;
  margin-left: 5%;
  padding: 15px;
}
.picb{background-color: lightblue;
width: 90%;
height: auto;
border: 1px dotted black;
overflow: hidden;
  margin-left: 5%;
  color: blue;
  padding: 15px;

}
.title {
  color: grey;
}




.details  {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				line-height: 1.4em;
				max-height: 4.2em;
				color: rgba(255,255,255,0.7);
				overflow: hidden;
				margin-top: 2vw;
				text-overflow: ellipsis;
        padding: 2vw 0;
			}

      .img{height: 300px;
        width: 250px;
      border-radius: 5%;}


.ppp { padding-left: 15px;
      padding-bottom: 150px;
      padding-top: 0;
    }


    .absolute {
      position: absolute;
      top: 110px;
      right: 0;
      width: 160px;
      height: 100px;
      color: red;
      font-size:20px;
    }

.div1 {border-left: 3px solid ;
  padding: 5px;

}

.divx{background-color: #eee;
width: 21%;
height: auto;
border: 1px dotted black;
overflow: hidden;
  margin-left: 40%;
  padding: 15px;
}
